<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
 </head>

<body>  
<button type='button' id="user1">User1</button>
<button type='button' id="user2">User2</button>
<button type='button' id="user3">User3</button>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>


<script>

document.getElementById('user1').onclick = function() {
     $.ajax({
        method: 'post',
        url: 'login',
        data: {
          username: "user1",
          password: "pass1"
        }
      }).done(function(json) {
        console.log(json);
        console.log('success');
        window.location = "http://127.0.0.1:5000";
      }).fail(function() {
        console.log('fail');
      });
}

document.getElementById('user2').onclick = function() {
     $.ajax({
        method: 'post',
        url: 'login',
        data: {
          username: "user2",
          password: "pass2"
        }
      }).done(function(json) {
        console.log(json);
        console.log('success');
        window.location = "http://127.0.0.1:5000";
      }).fail(function() {
        console.log('fail');
      });
}

document.getElementById('user3').onclick = function() {
     $.ajax({
        method: 'post',
        url: 'login',
        data: {
          username: "user3",
          password: "pass3"
        }
      }).done(function(json) {
        console.log(json);
        console.log('success');
        window.location = "http://127.0.0.1:5000";
      }).fail(function() {
        console.log('fail');
      });
}

</script>

</body>
</html>
