<!DOCTYPE html>
<html>

<head lang="en">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/1c_coin.jpg')}}" type="image/vnd.microsoft.icon" />
    <meta charset="UTF-8">
    <title>Account-ost</title>
    <link href="{{ url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='css/bootstrap-theme.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='css/starter-template.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/st_jstree.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='css/own_style.css')}}" rel="stylesheet" type="text/css"/>
</head>

<body>  

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="#">Accounts</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav main-menu">
        <li class="active route-home"><a href="#">Home</a></li>
        <li class="route-gains"><a href="#gains">Gains</a></li>
        <li class="route-bills"><a href="#bills">Bills</a></li>
        <li class="route-about"><a href="#about">About</a></li>

        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input type="text" class="form-control"/>
            <button type="submit" placeholder="Search" class="btn">Find</button>
          </div>
        </form>


      </ul>
    </div>
  </div>
</div>

<!--
    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div>
-->

<div class="container content" id="container-up"></div>
<div class="container content" id="container"></div>
<div class="container content" id="container-down"></div>
<div class="container content" id="container-tmp"></div>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/backbone.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jstree.js') }}"></script>



{% include 'rtpl.html' %}
{% include 'templates.html' %}

<!--
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Name</h4>
      </div>
      <div class="modal-body">Put all here.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-btn-confirm">Confirm</button>
      </div>
    </div>
  </div>
</div>
-->


<script type="text/javascript" src="{{ url_for('static', filename='myjs/mvc/PopupView.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='myjs/mvc/AddBillView.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='myjs/mvc/EditBillView.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='myjs/mvc/TransferBillView.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='myjs/mvc/HistoryBillView.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='myjs/mvc/billsMVC.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='myjs/bills.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='myjs/mvc/transactionMVC.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='myjs/transactions.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='myjs/page/homePage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='myjs/page/billsPage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='myjs/page/aboutPage.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='myjs/app.js') }}"></script>



</body>
</html>
