<script type="text/template" id="tpl-btn-add">
  <div class='row'>
    <div class='col-md-offset-3 col-md-6'>
      <button type='button' class='btn btn-primary btn-lg btn-block add-user-btn'>Add bill</button>
    </div>
  </div>
</script>

<!--BillTemplate-->

<script type="text/template" id="item-tpl">
    <div class="row form-group">
      
      <div class="col-md-6 my-col rclickable" style="cursor:pointer;">
        <span class="transfer" style="color:black;font-size: 200%;">
          <%=model.get("name")%>
        </span>
      </div>

      <div class="col-md-3 my-col rclickable" style="cursor:pointer;" align='right'>
        <span class="transfer" style="color:black;font-size: 200%;">
          <%=model.get("sum")%>
        </span>
      </div>
      
      <div class="col-md-3 my-col">
        <span class="transfer" style="cursor:pointer; color:blue; font-family:sans-serif;font-size: 200%;">
          [transfer]
        </span>

        <span class="edit" style="cursor:pointer; color:green; font-family:sans-serif;font-size: 200%;">
          [edit]
        </span>
      </div>
    </div>
</script>

<script type="text/template" id="tpl-bill-click">
  <td style="cursor:pointer;"><%=model.get("name")%></td>
  <td style="cursor:pointer;"><%=model.get("sum")%></td>
</script>


<!--TransactionModel-->

<script type="text/template" id="tpl-transaction">
  <span style="cursor:pointer;"><%=model.get("name")%></span>
  <span style="cursor:pointer;"><%=model.get("sum")%></span>
</script>
