<script type="text/template" id="tpl-modal">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="tpl-bill-click">
  <td style="cursor:pointer;"><%=model.get("name")%></td>
  <td style="cursor:pointer;"><%=model.get("sum")%></td>
</script>

<script type="text/template" id="tpl-transaction-click">
  <td style="cursor:pointer;"><%=indefToName(model.get("from"), model.get("fromClass"))%></td>
  <td style="cursor:pointer;"><%=indefToName(model.get("to"), model.get("toClass"))%></td>
  <td style="cursor:pointer;"><%=model.get("delta")%></td>
</script>