.centered {
  width: 100% ;
  margin-left: auto ;
  margin-right: auto ;
}

.whole_length {
	width: 100%;
}

.vakata-context.jstree-contextmenu {
	z-index: 1100;
}
i.gains {
	color: red;
}

i.incomes {
	color: green;
}