<script type="text/template" id="tpl-btn-add">
  <div class='row'>
    <div class='col-md-offset-1 col-md-6'>
      <button type='button' class='btn btn-primary btn-lg btn-block add-user-btn'>Add bill</button>
    </div>
  </div>
</script>

<script type="text/template" id="item-tpl">
    <div class="row form-group">
      
      <div class="col-md-6 my-col">
        <h2><%=model.get("name")%> </h2>
      </div>

      <div class="col-md-3 my-col">
        <h2> <%=model.get("sum")%></h2>
      </div>
      
      <div class="col-md-3" align='left'>
        <button class="btn btn-primary btn-lg budget" style="cursor:pointer;">
          Add
        </button>
        <button class="btn btn-primary btn-lg transfer" style="cursor:pointer;">
          Transfer
        </button>
        <button class="btn btn-warning btn-lg edit" style="cursor:pointer;">
          Edit
        </button>
      </div>
    </div>
</script>

<script type="text/template" id="tpl-bill-click">
  <td style="cursor:pointer;"><%=model.get("name")%></td>
  <td style="cursor:pointer;"><%=model.get("sum")%></td>
</script>

<script type="text/template" id="tpl-bill-trb">
  <table class="table table-bordered table-striped" id="bill-div-bill">
  
  </table>
</script>

<script type="text/template" id="tpl-bill-add">
  <form>
      <div class="form-group">
          <input type="text" id="bills-in-name" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
          <input type="number" id="bills-in-sum" class="form-control" placeholder="Sum">
      </div>
  </form>
</script>

<script type="text/template" id="tpl-bill-sum">
  <div class="bill-transactions">
    Here should be information about last transactions.
  </div>
  <form>
    Delta
    <input type="number" id="bills-in-delta" class="form-control" placeholder="Delta Sum">
  </form>
</script>

<script type="text/template" id="tpl-bill-edit">
  <form>
    <input type="text" id="bills-in-curname" class="form-control" placeholder="New bill name">
    <button class="btn btn-danger" data-dismiss="modal" id="bill-btn-del" style="cursor:pointer;">
      Delete
    </button>
  </form>

</script>